.addnotes {
    width: 600px;
}

.signup-container {
    width:50%;
}


@media(max-width: 600px){
    .addnotes {
        width: auto;
    }
    .img-fluid {
        display:none;
    }
    .signup-container {
    width:100%;
    }
}
